body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 10px;
    gap:10px;    
    border: 4px solid black;
    border-radius: 5px;
}


#rock{
    width: 70px;
    height: 70px;
    background-image: url('./Resources/Rock.png');
    background-size: 68px auto;
    border-radius: 10px;
    &:active{
        background-color: burlywood;
    box-shadow: 3px tomato;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
    }
    
}

#paper{
    width: 70px;
    height: 70px;
    background-image: url('./Resources/Paper.png');
    background-size: auto 65px;
    border-radius: 10px;
    &:active{
        background-color: burlywood;
    box-shadow: 3px tomato;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
    }
    
}

#scissors{
    width: 70px;
    height: 70px;
    background-image: url('./Resources/Scissors.png');
    background-size: 65px auto;
    border-radius: 10px;
    &:active{
        background-color: burlywood;
    box-shadow: 3px tomato;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.5);
    }
    
}

#resultPics{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    gap: 5px;
    border: 4px solid black;
    border-radius: 5px;
    
}

#Feedback{
    border: 4px solid black;
    border-radius: 5px;
}

.modal{
    background-color: white;
    display: none;
    position: fixed;
    z-index: 1;
    height: 500px;
    width: 80%;
    padding: 20px;
    margin: 15% auto;
    border: 2px solid #888;
    border-radius: 6px;
}

#closeModal{
    color: #aaa;
    float: right;
    font-size: 15px;
    font-weight: bold;
}

#finalMessage{

}

#messageSpace{
    display: flex;
    justify-content: center;
    padding-top: 15%;
}